include Makefile
include README.rst
include INSTALL
include TODO
include LICENSE
include meejah.asc
include scripts/*.py
include docs/Makefile
include docs/apilinks_sphinxext.py
include docs/conf.py
include docs/*.rst
include docs/_static/*
exclude docs/_static/*~
include examples/*
exclude examples/*~
include requirements.txt
include dev-requirements.txt
