name: python2

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  testing:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [2.7]
## XXX not sure how to tie this to "tox -e tx21" below, for example (just get GHA errors)
##        twisted-version: [tx17, tx18, tx19, tx20, tx21]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip tox tox-gh-actions

    - name: Test
      run: |
        python --version
        python -m tox
##        python -m tox -e ${{ matrix.twisted-version }}
